* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: relative;
}
p {
  width: 600px;
  height: 75px;
  background-color: gray;
  color: white;
  font-size: 2em;
  text-align: center;
  letter-spacing: 10px;
  position: absolute;
  top: 0;
  z-index: 1;
}
.imagen {
  transition-duration: 0.8s;
  width: 600px;
  height: 400px;
  background-image: url("./assets/photo-1434056886845-dac89ffe9b56.jpg");
  background-size: cover;
}
.container:hover .imagen {
  transition-duration: 0.8s;
  transform: scale(1.2);
}
.cinta {
  width: 600px;
  height: 60px;
  background-color: gray;
  position: absolute;
  top: 260px;
  opacity: 0;
  transition-duration: 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container:hover .cinta {
  transition-duration: 0.8s;
  opacity: 1;
}
.icono {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ml20 {
  margin-left: 20px;
}
.f {
  opacity: 0;
}
.t {
  opacity: 0;
}
.i {
  opacity: 0;
}
.container:hover .f {
  transition-duration: 1.2s;
  opacity: 1;
}
.container:hover .t {
  transition-duration: 1.7s;
  opacity: 1;
}
.container:hover .i {
  transition-duration: 2.4s;
  opacity: 1;
}
